<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer id="footer">
<div class="container">
    <div class="right-section">
    <div class="lists">
        <ul>
        <li>
            <h2>Information</h2>
        </li>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about">About Us</a>
        </li>
        <li>
            <a href="/reviews">Reviews</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
        </ul>
        <ul>
        <li>
            <h2>Contact</h2>
        </li>
        <li>
            Email us at: help@polarsolutions.com

            </a>
        </li>
        <li>
            Address: 123 Anywhere St., Any City
            </li>
        <li>
            <a href="tel:{{client.phoneForTel}}">
            T: +123-456-7890
            </a>
        </li>
        <li>
            <a href="mailto:{{client.email}}">Click to Email</a>
        </li>
        </ul>
    </div>
    </div>
</div>

<div class="credit">
    <span>Designed and Hand Coded by</span>
    <a href="/" target="_blank" rel="noopener">Polar Solution</a>
    <span class="copyright"> Copyright {2025} - Present</span>
</div>
</footer>

