---
title: 'Blog | Code Stitch Web Designs'
description: 'Meta description for the page'
preloadImg: '/assets/images/cabinets2.jpg'
permalink: 'blog/'
eleventyNavigation:
    key: Blog
    order: 500
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/blog.css">
{% endblock %}

{% block body %}
<!-- A fully fleshed-out <head>, dynamically changing based on client.json and the page front matter -->

    <!DOCTYPE html>
    <html lang="en">
      <head>
        <!-- Standard meta tags -->
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Meta description for the page" />
        <meta name="keywords" content="" />
        <link rel="canonical" href="https://www.example.com/blog/" />
    
        <!--Social Media Display-->
        <meta property="og:title" content="Blog | Code Stitch Web Designs" />
        <meta property="og:description" content="Meta description for the page" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="https://www.example.com/blog/" />
        <meta property="og:image" content="/assets/images/logo-small.png" />
        <meta
          property="og:image:secure_url"
          content="/assets/images/logo-small.png"
        />
    
        <!--Favicons-->
        <link
          rel="apple-touch-icon"
          sizes="180x180"
          href="/assets/favicons/apple-touch-icon.png"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="32x32"
          href="/assets/favicons/favicon-32x32.png?v1"
        />
        <link
          rel="icon"
          type="image/png"
          sizes="16x16"
          href="/assets/favicons/favicon-16x16.png"
        />
        <link rel="manifest" href="/assets/favicons/site.webmanifest" />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />
    
        <!-- Preloads -->
        <link rel="preload" as="image" href="/assets/svgs/logo-white.svg" />
        <link
          rel="preload"
          as="font"
          type="font/woff2"
          href="/assets/fonts/roboto-v29-latin-regular.woff2"
          crossorigin
        />
        <link
          rel="preload"
          as="font"
          type="font/woff2"
          href="/assets/fonts/roboto-v29-latin-700.woff2"
          crossorigin
        />
    
        <!-- Preload an image - tag not rendered if preloadImg is blank to stop console errors -->
    
        <link rel="preload" as="image" href="/assets/images/cabinets2.jpg" />
    
        <!-- Sitewide Stylesheets and Scripts -->
        <link rel="stylesheet" href="/assets/css/root.css" />
        <link rel="stylesheet" href="/assets/css/dark.css" />
        <script defer src="/assets/js/dark.js"></script>
        <script defer src="/assets/js/nav.js"></script>
    
        <link rel="stylesheet" href="/assets/css/blog.css" />
    
        <title>Blog | Code Stitch Web Designs</title>
      </head>
      <body>
        <!--Screen reader skip main nav-->
        <a class="skip" aria-label="skip to main content" href="#main" tabindex="1"
          >Click To Skip To Main Content</a
        >
    

          <!-- ============================================ -->
          <!--                    LANDING                   -->
          <!-- ============================================ -->
    
          <section id="int-hero">
            <h1 id="home-h">Services</h1>
            <picture>
              <source media="(max-width: 600px)" srcset="/assets/images/wie.jpg" />
              <source media="(min-width: 601px)" srcset="/assets/images/wie.jpg" />
              <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/wie.jpg"
                alt="kitchen cabinets"
                loading="eager"
                width="2500"
                height="1667"
              />
            </picture>
          </section>
    
          <!-- ============================================ -->
    <!--                    Services                  -->
    <!-- ============================================ -->
    
    <section id="services-1354">
        <div class="cs-container">
            <div class="cs-content">
                <span class="cs-topper">Our Services</span>
                <h2 class="cs-title">We’re Committed to Deliver Top High Quality Services</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <a href="/project-one/" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Unifi</span> Budget Friendly</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting1.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/project-two/" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Unify</span> Premium</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting2.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/project-three/" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Cisco</span> Budget Friendly</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting3.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
                <li class="cs-item">
                    <a href="/project-four/" class="cs-link">
                        <h3 class="cs-h3"><span class="cs-span">Cisco</span> Premium</h3>
                    </a>
                    <picture class="cs-background">
                        <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                        <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg">
                        <img decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/meeting4.jpg" alt="construction" width="305" height="305" aria-hidden="true">
                    </picture>
                </li>
            </ul>
        </div>
    </section>
                                    

    </div>
{% endblock %}